*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: rgb(23, 23, 23);
}
.notes{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.note{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 5px;
    padding: 30px;
    background-color: rgb(255, 75, 75);
}